<!--<div class="containerAll">
  <div class="headerDiv">
    <div>
      <div>
        <p>accueil</p>
      </div>
      <div>
        <p>la méthode</p>
      </div>
      <div>
        <p>les formations</p>
      </div>
    </div>
    <div>
      <img src="favicon.ico" height="50px" width="50px">
    </div>
    <div>
      <div>
        <p>accueil</p>
      </div>
      <div>
        <p>la méthode</p>
      </div>
      <div>
        <p>les formations</p>
      </div>
      <button class="btnHeader">les formations</button>
    </div>
  </div>

  <div class="container1">
    <div class="container1_divLogo">
      <p>LOGO OCLOCK</p>
    </div>
    <div>
      <p>ezhjfcd ghezfca xgfwezgxcvyezvbxy vefatzyvwxtevz ytwxv ezuavw xtfevza yxbeza uyvwxyuegzavw xyftevzgxv wag xezjxelzw xhjkb</p>
    </div>
    <div class="container1_div_4logo">
      <div>
        <img src="favicon.ico" height="50px" width="50px">
        <p>EZ REZ EZR</p>
        <p>ezjgd  hze dgezf dgfezcxgzehx ezx ieuzh xez</p>
      </div>
      <div>
        <img src="favicon.ico" height="50px" width="50px">
        <p>EZ REZ EZR</p>
        <p>ezjgd  hze dgezf dgfezcxgzehx ezx ieuzh xez</p>
      </div>
      <div>
        <img src="favicon.ico" height="50px" width="50px">
        <p>ZEIZE PXZEI </p>
        <p>ezjgd  hze dgezf dgfezcxgzehx ezx ieuzh xez</p>
      </div>
      <div>
        <img src="favicon.ico" height="50px" width="50px">
        <p>EZ REZ EZR</p>
        <p>ezjgd  hze dgezf dgfezcxgzehx ezx ieuzh xez</p>
      </div>
    </div>
  </div>
</div>
-->
