/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/*@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf) format("truetype");
}*/

:root{
  --red : #ff4b36;
  --green : #20cb6a;
  --blue : #08104d;
  --blueLight : #3e49f3;
  --grey : #f7f8f9;
}
